<game-page-bar></game-page-bar>

<div class="inventory">
  <div class="inventory__inner">
    <div class="inventory__wrapper is--panel">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inventory__wrapper is--panel is--list">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item is--active"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
            <td>
              <div class="inventory__item"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
