.key {
  &__inner {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(#fff, .5);
    font-size: 52px;
    background: url('/assets/textures/arrows.png');
    background-size: 380px;
    background-position: 2px 2px;
  }
  &.is--up {
    transform: rotate(-90deg);
  }
  &.is--left {
    transform: rotate(180deg);
  }
  &.is--down {
    transform: rotate(90deg);
  }
  &.hinted {
    //animation-name: hint;
    //animation-duration: .4s;
    .key {
      &__inner {
        background-position: 2px 97px;
      }
    }
  }
}

@keyframes hint {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  0% {
    transform: none;
  }
}
