<game-page-bar></game-page-bar>

<div class="achievements">
  <div class="achievements__inner">
    <div class="achievements__wrapper is--panel">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <h3>Culpa cupiditate doloribus nihil perferendis?</h3>
      <h3>Aliquid dolores ipsa magnam minima!</h3>
      <h3>Debitis dolor labore nulla quisquam.</h3>
      <h3>Alias ducimus eaque ipsa itaque.</h3>
      <h3>Consequuntur molestias obcaecati perferendis quidem!</h3>
      <h3>Aliquid molestiae obcaecati ratione voluptatem.</h3>
      <h3>Iste omnis recusandae sapiente sint?</h3>
      <h3>Aliquid facere quae quis suscipit.</h3>
      <h3>Animi autem iste sunt vero!</h3>
    </div>
  </div>
</div>
