.floor {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: 64px 64px;
  background-repeat: repeat;
  &.is--lvl1 {
    background-image: url('/assets/textures/floor1-15.jpg');
  }
  &.is--lvl2 {
    background-image: url('/assets/textures/floor15-30.jpg');
  }
  &.is--lvl3 {
    background-image: url('/assets/textures/floor30-60.jpg');
  }
  &__title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
  }
}

.bar {
  position: absolute;
  width: calc(100vw - 100px);
  left: 50px;
  bottom: 50px;
}

.keys {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  bottom: 200px;
}

.hints-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 350px;
}
